body {
  background-color: rgba(6, 6, 6, 1);
  color: white;
}

/* header */
.nav-con {
  background-color: rgb(25 25 25);
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* places */

.container-places {
  background-color: rgba(25, 26, 27, 1);
  display: flex;
  padding: 0;
  height: 200px;
}

/* img and votes */

.cont-img-with-votes {
  /* border: solid 1px; */
  flex: 2;
  display: flex;
  flex-direction: column;
}
.img-place {
  /* border: solid 1px blue; */
  flex: 4;
  height: 158px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgs {
  width: 220px;
  height: 158px;
}

.for-votes {
  /* border: solid 1px rgb(166, 255, 0); */
  flex: 1;
  display: flex;
}

.btn-like {
  flex: 1;
}
.btn-dislike {
  flex: 1;
}

/* title and description */

.container-name-descip {
  flex: 4;
  overflow-y: scroll;
  text-align: justify;
}
.container-name-descip::-webkit-scrollbar {
  width: 3px; /* Tamaño del scroll en vertical */
  height: 5px; /* Tamaño del scroll en horizontal */
}
.container-name-descip::-webkit-scrollbar-thumb {
  background: rgb(60, 255, 0);
  border-radius: 4px;
}

/* votes */

.votes {
  background-color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Add place */

.container-add-place {
  border: none;
  display: flex;
  flex-direction: column;
  background: #151515;
  color: white;
}

.title-and-name-input {
  display: flex;
}

textarea,
input {
  outline: none;
}

/* responsive */

@media only screen and (max-width: 600px) {
  .container-places {
    height: auto;
    flex-direction: column;
  }
  .title-and-name-input {
    flex-direction: column;
  }

  .imgs{

    width: 100%;
    height: auto;
  
  }
}
